function board.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 136
push constant 8
push constant 136
push constant 248
call Screen.drawLine 4
pop temp 0
push constant 136
push constant 8
push constant 376
push constant 8
call Screen.drawLine 4
pop temp 0
push constant 136
push constant 248
push constant 376
push constant 248
call Screen.drawLine 4
pop temp 0
push constant 376
push constant 8
push constant 376
push constant 248
call Screen.drawLine 4
pop temp 0
push constant 216
push constant 8
push constant 216
push constant 248
call Screen.drawLine 4
pop temp 0
push constant 296
push constant 8
push constant 296
push constant 248
call Screen.drawLine 4
pop temp 0
push constant 136
push constant 88
push constant 376
push constant 88
call Screen.drawLine 4
pop temp 0
push constant 136
push constant 168
push constant 376
push constant 168
call Screen.drawLine 4
pop temp 0
push pointer 0
return
function board.draw 2
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
push argument 1
push constant 2
eq
or
push argument 1
push constant 3
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 48
pop local 1
label IF_FALSE0
push argument 1
push constant 4
eq
push argument 1
push constant 5
eq
or
push argument 1
push constant 6
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 128
pop local 1
label IF_FALSE1
push argument 1
push constant 7
eq
push argument 1
push constant 8
eq
or
push argument 1
push constant 9
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 208
pop local 1
label IF_FALSE2
push argument 1
push constant 1
eq
push argument 1
push constant 4
eq
or
push argument 1
push constant 7
eq
or
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 176
pop local 0
label IF_FALSE3
push argument 1
push constant 5
eq
push argument 1
push constant 2
eq
or
push argument 1
push constant 8
eq
or
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 256
pop local 0
label IF_FALSE4
push argument 1
push constant 9
eq
push argument 1
push constant 6
eq
or
push argument 1
push constant 3
eq
or
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 336
pop local 0
label IF_FALSE5
push argument 2
push constant 1
eq
push argument 2
push constant 3
eq
or
push argument 2
push constant 5
eq
or
push argument 2
push constant 7
eq
or
push argument 2
push constant 9
eq
or
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push constant 20
sub
push local 1
push constant 20
sub
push local 0
push constant 20
add
push local 1
push constant 20
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
push argument 2
push constant 2
eq
push argument 2
push constant 4
eq
or
push argument 2
push constant 6
eq
or
push argument 2
push constant 8
eq
or
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
push local 1
push constant 20
call Screen.drawCircle 3
pop temp 0
label IF_FALSE7
push constant 0
return
